.hero
{
    padding: 64px 0 100px 0;
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container
    {
        position: relative;
    }

    &::before
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        content: '';
        opacity: .3;
    }

    &__text
    {
        margin-top: 64px;
        margin-bottom: 64px;
        line-height: 56px;
        font-weight: 800;
        font-size: 40px;
        text-align: center;
    }

    &__logo
    {
        margin: 0 auto;
        height: 80px;
        display: block;
    }

    @media (max-width: 640px)
    {
        padding: 40px;

        &__logo
        {
            height: 40px;
        }

        &__text
        {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}